*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.licao-main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #060b26;
    color: white;
}

.barra-lateral{
    width: 260px;
    background: rgba(10, 15, 40, 0.95);
    border-right: 1px solid rgba(255,255,255,0.08);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.logo .code{
    color: white;
}

.logo .quest{
    color: #8b5cf6;
    text-shadow:0 0 10px rgba(139, 92, 246, 0.8);
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu img{
    width: 20px;
    height: 20px;
}

.menu a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu a{
    text-decoration: none;
    color: #cbd5e1;
    padding: 14px;
    border-radius: 12px;
    transition: 0.3s;
}

.menu a:hover{
    background: rgba(124, 58, 237, 0.2);

    color: white;
}

.container{
    flex: 1;
    padding: 40px;
}

.container h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.frase1{
    color: #cbd5e1;
    margin-bottom: 40px;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.licao-card{
    width: 100%;
    max-width: 320px;
    background: rgba(17, 25, 59, 0.8);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 24px;
    padding: 25px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
    box-shadow:0 0 20px rgba(79, 70, 229, 0.15);
}

.licao-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(124, 58, 237, 0.35);
}

.licao-card h2{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.licao-card p{
    color: #cbd5e1;
    margin-bottom: 20px;
    line-height: 1.5;
}

.xp{
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 14px;
    border-radius: 999px;
    background: rgba(124, 58, 237, 0.2);
    color: #c4b5fd;
    font-size: 0.9rem;
    font-weight: bold;
}

.licao-card button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #4f46e5, #7c3aed);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.licao-card button:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(124, 58, 237, 0.5);
}


@media (max-width: 900px){

    .licao-main{
        flex-direction: column;
    }

    .barra-laterak{
        width: 100%;

        border-right: none;

        border-bottom: 1px solid rgba(255,255,255,0.08);
    }

    .conteudo{
        justify-content: center;
    }

}